<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaotiyun.school.manager.dao.CrossBorderStudentDao">

    <resultMap id="BaseResultMap" type="com.xiaotiyun.school.manager.model.entity.CrossBorderStudentEntity">
        <id column="id" property="id" />
        <result column="selected" property="selected" />
        <result column="mainland_certificate_type" property="mainlandCertificateType" />
        <result column="mainland_certificate_type_other" property="mainlandCertificateTypeOther" />
        <result column="mainland_certificate_number" property="mainlandCertificateNumber" />
        <result column="companion_chinese_name" property="companionChineseName" />
        <result column="companion_foreign_name" property="companionForeignName" />
        <result column="companion_gender" property="companionGender" />
        <result column="companion_birth_date" property="companionBirthDate" />
        <result column="macau_certificate_type" property="macauCertificateType" />
        <result column="macau_certificate_type_other" property="macauCertificateTypeOther" />
        <result column="hk_macau_pass_visa_type" property="hkMacauPassVisaType" />
        <result column="macau_certificate_number" property="macauCertificateNumber" />
        <result column="mainland_entry_certificate_type" property="mainlandEntryCertificateType" />
        <result column="mainland_entry_certificate_type_other" property="mainlandEntryCertificateTypeOther" />
        <result column="mainland_entry_certificate_number" property="mainlandEntryCertificateNumber" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id, selected, mainland_certificate_type, mainland_certificate_type_other, mainland_certificate_number,
        companion_chinese_name, companion_foreign_name, companion_gender, companion_birth_date,
        macau_certificate_type, macau_certificate_type_other, hk_macau_pass_visa_type, macau_certificate_number,
        mainland_entry_certificate_type, mainland_entry_certificate_type_other, mainland_entry_certificate_number,
        create_time, update_time, deleted
    </sql>
</mapper>