<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaotiyun.school.manager.dao.LeisureActivityCoursesRecordDao">
    <select id="pageAndPre" resultType="com.xiaotiyun.school.manager.model.res.LeisureActivityCoursesRecordRes">
        SELECT
            lacr.id,
            lacr.school_id AS schoolId,
            lacr.activity_id AS activityId,
            lacr.name,
            lacr.teacher,
            lacr.teacher_id AS teacherId,
            lacr.classroom,
            lacr.classroom_id AS classroomId,
            lacr.quota_total AS quotaTotal,
            lacr.courses_num AS coursesNum,
            lacr.status,
            lacr.course_time AS courseTime,
            asr.enrollNum AS enrollNum
        FROM leisure_activity_courses_record lacr
        LEFT JOIN
            (SELECT lenson_id,COUNT(1) AS enrollNum FROM activity_student_report WHERE type = 1 AND activity_id = ${activityId} AND deleted = 0 GROUP BY lenson_id) asr
                ON lacr.id = asr.lenson_id
        WHERE lacr.deleted = 0
        AND lacr.school_id = ${schoolId}
        AND lacr.activity_id = ${activityId}
        <if test="name != null and name != ''">
            AND lacr.name LIKE CONCAT('%', #{name}, '%')
        </if>
        ORDER BY lacr.create_time DESC
    </select>

    <select id="pageAndApply" resultType="com.xiaotiyun.school.manager.model.res.LeisureActivityCoursesRecordRes">
        SELECT
            lacr.id,
            lacr.school_id AS schoolId,
            lacr.activity_id AS activityId,
            lacr.name,
            lacr.teacher,
            lacr.teacher_id AS teacherId,
            lacr.classroom,
            lacr.classroom_id AS classroomId,
            lacr.quota_total AS quotaTotal,
            lacr.courses_num AS coursesNum,
            lacr.status,
            lacr.course_time AS courseTime,
            COALESCE(avl.enrollNum, 0) + COALESCE(avlTwo.enrollNum, 0) + COALESCE(asrs.preEnrollNum, 0) AS enrollNum,
            COALESCE(avl.enrollNum, 0) + COALESCE(asrs.preEnrollNum, 0) AS oneEnrollNum,
            COALESCE(avlTwo.enrollNum, 0) AS twoEnrollNum,
            COALESCE(lacr.quota_total, 0) - COALESCE(asr.enrollNum, 0) AS enrollQuota,
            COALESCE(asr.enrollNum, 0) AS reportQuota,
            IF(COALESCE(lacr.quota_total, 0) - COALESCE(asr.enrollNum, 0) &lt;= 0, 1, 0) AS enrollStatus
        FROM leisure_activity_courses_record lacr
        LEFT JOIN
            (SELECT
            l.lenson_id,
            COUNT( 1 ) AS enrollNum
            FROM
            activity_volunteer_lenson l
            LEFT JOIN activity_student_apply_report asar
            ON asar.id = l.apply_id
            WHERE
            l.deleted = 0
            AND asar.type = 1
            AND l.activity_id = ${activityId}
            GROUP BY
            l.lenson_id) avl
        ON lacr.id = avl.lenson_id
        LEFT JOIN
            (SELECT
            l.lenson_id,
            COUNT( 1 ) AS enrollNum
            FROM
            activity_volunteer_lenson l
            LEFT JOIN activity_student_apply_report asar
            ON asar.id = l.apply_id
            WHERE
            l.deleted = 0
            AND asar.type = 2
            AND l.activity_id = ${activityId}
            GROUP BY
            l.lenson_id) avlTwo
        ON lacr.id = avlTwo.lenson_id
        LEFT JOIN
        (SELECT lenson_id,COUNT(1) AS preEnrollNum FROM activity_student_report WHERE type = 1 AND deleted = 0 AND activity_id = ${activityId} GROUP BY lenson_id) asrs
        ON lacr.id = asrs.lenson_id
        LEFT JOIN
        (SELECT lenson_id,COUNT(1) AS enrollNum FROM activity_student_report where deleted = 0 AND activity_id = ${activityId} GROUP BY lenson_id) asr
        ON lacr.id = asr.lenson_id
        WHERE lacr.deleted = 0
        AND lacr.school_id = ${schoolId}
        AND lacr.activity_id = ${activityId}
        <if test="name != null and name != ''">
            AND lacr.name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="status != null">
            HAVING enrollStatus = ${status}
        </if>
        ORDER BY lacr.create_time DESC
    </select>

    <select id="pageAndApplyByStudent" resultType="com.xiaotiyun.school.manager.model.res.LeisureActivityCoursesRecordRes">
        SELECT
            lacr.id,
            lacr.school_id AS schoolId,
            lacr.activity_id AS activityId,
            lacr.name,
            lacr.teacher,
            lacr.teacher_id AS teacherId,
            lacr.classroom,
            lacr.classroom_id AS classroomId,
            lacr.quota_total AS quotaTotal,
            lacr.courses_num AS coursesNum,
            lacr.status,
            lacr.course_time AS courseTime,
            avl.enrollNum AS enrollNum,
            (COALESCE(lacr.quota_total, 0) - COALESCE(asr.enrollNum, 0)) AS enrollQuota,
            IF(COALESCE(lacr.quota_total, 0) - COALESCE(asr.enrollNum, 0) &lt;= 0, 1, 0) AS enrollStatus
        FROM leisure_activity_courses_record lacr
        LEFT JOIN
        (SELECT lenson_id,COUNT(1) AS enrollNum FROM activity_volunteer_lenson where deleted = 0 AND activity_id = ${activityId} GROUP BY lenson_id) avl
        ON lacr.id = avl.lenson_id
        LEFT JOIN
        (SELECT lenson_id,COUNT(1) AS enrollNum FROM activity_student_report where deleted = 0 AND activity_id = ${activityId} GROUP BY lenson_id) asr
        ON lacr.id = asr.lenson_id
        WHERE lacr.deleted = 0
        AND lacr.status = 1
        AND lacr.school_id = ${schoolId}
        AND lacr.activity_id = ${activityId}
        <if test="name != null and name != ''">
            AND lacr.name LIKE CONCAT('%', #{name}, '%')
        </if>
        ORDER BY lacr.create_time DESC
    </select>
</mapper>