<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaotiyun.school.manager.dao.StudentExamTaskMapper">
    <select id="page" resultType="com.xiaotiyun.school.manager.model.res.StudentExamTaskPageResModel">
        SELECT exam.id                AS id,
               exam.name              AS name,
               cla.id                 AS classId,
               cla.class_name         AS className,
               grade.grade_group_name AS gradeGroupName,
               cla.sid                AS schoolYear,
               semester.name          AS periodName,
               subject.subject_name   AS subjectName,
               exam.create_time       AS createTime,
               susr.username          AS updateUser,
               exam.remark            AS remark
        FROM student_exam_task exam
                 LEFT JOIN sys_class cla ON cla.id = exam.class_id
                 LEFT JOIN grade_group grade ON grade.id = cla.grade_group
                 LEFT JOIN sys_semester semester ON semester.id = exam.period_id
                 LEFT JOIN subject_rel srl ON srl.id = exam.subject_id
        LEFT JOIN subject ON subject.id = srl.subject_id
                 LEFT JOIN sys_user_school_rel susr ON susr.school_id = exam.school_id AND susr.user_id = exam.update_id AND susr.deleted = 0
        WHERE exam.deleted = 0
        <if test="taskIds != null and taskIds.size() > 0">
            AND exam.id IN
            <foreach collection="taskIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="reqModel.schoolId != null and reqModel.schoolId > 0">
            AND exam.school_id = #{reqModel.schoolId}
        </if>
        <if test="reqModel.schoolYear != null">
            AND cla.sid = #{reqModel.schoolYear}
        </if>
        <if test="reqModel.periodId != null and reqModel.periodId > 0">
            AND exam.period_id = #{reqModel.periodId}
        </if>
        <if test="reqModel.department != null and reqModel.department > 0">
            AND semester.department = #{reqModel.department}
        </if>
        <if test="reqModel.subjectId != null and reqModel.subjectId > 0">
            AND exam.subject_id = #{reqModel.subjectId}
        </if>
        <if test="reqModel.gradeId != null and reqModel.gradeId > 0">
            AND cla.grade_group = #{reqModel.gradeId}
        </if>
        <if test="reqModel.classId != null and reqModel.classId > 0">
            AND cla.id = #{reqModel.classId}
        </if>
        <if test="reqModel.name != null">
            AND exam.name LIKE CONCAT('%', #{reqModel.name}, '%')
        </if>
        <if test="reqModel.classIds != null and reqModel.classIds.size() > 0">
            AND cla.id IN
            <foreach collection="reqModel.classIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY exam.id DESC
    </select>

    <select id="check" resultType="java.lang.String">
        SELECT susr.username
        FROM student_exam_task exam
        LEFT JOIN sys_semester semester ON semester.id = exam.period_id
        LEFT JOIN sys_user_school_rel susr ON susr.school_id = exam.school_id AND susr.user_id = exam.update_id AND
        susr.deleted = 0
        WHERE exam.deleted = 0
        <if test="schoolId != null and schoolId > 0">
            AND exam.school_id = #{schoolId}
        </if>
        <if test="reqModel.schoolYear != null and reqModel.schoolYear != ''">
            AND semester.school_year = #{reqModel.schoolYear}
        </if>
        <if test="reqModel.periodId != null and reqModel.periodId > 0">
            AND exam.period_id = #{reqModel.periodId}
        </if>
        <if test="reqModel.classId != null and reqModel.classId > 0">
            AND exam.class_id = #{reqModel.classId}
        </if>
        <if test="reqModel.subjectId != null and reqModel.subjectId > 0">
            AND exam.subject_id = #{reqModel.subjectId}
        </if>
        ORDER BY exam.id DESC
        LIMIT 1
    </select>
</mapper>